[submodule "Candle"]
	path = Candle
	url = https://github.com/asledgehammer/Candle.git
[submodule "Events"]
	path = Events
	url = https://github.com/demiurgeQuantified/PZEventStubs
[submodule "Lua"]
	path = Lua
	url = https://github.com/omarkmu/PZLuaStubs.git
